.chatApp {
  padding: 20px;
  border-radius: 10px;
  background-color: #201436;
  height: 80%;
}
  
.chatHeader {
  margin-bottom: 20px;
}

.messageList {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.messageInput {
  display: flex;
  position: fixed;
  bottom: 4%;
  left: auto;
  width: 85%;
}

.messageInput input {
  color: black;
  width: 80%;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #ffffff;
}

.messageInput input:focus {
  outline: none;
}

.messageInput button {
  width: 10%;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  background-color: #4F2683;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.messageInput button:hover {
  background-color: #3c1d65;
}

.textBubbleRight {
  margin-left: auto;
  margin-right: 10px;
  text-align: right;
}

.textBubbleLeft {
  margin-right: auto;
  margin-left: 10px;
  text-align: left;
}