/* Navbar stying */
.navb {
    background-color: #130c20;
    width: 20%;
    display: flex;
    flex-direction: column;
}

/* Animation of opening NavBar */
.navb-animatedleft {
  animation: slideInFromLeft 0.5s ease;
}

/* Animation of hiding nav bar */
.navb-animatedright {
  animation: slideInFromRight 0.5s ease;
}

/* Styling for navbar toggle button container */
.navb > .toggleButtons {
    display: flex;
    justify-content: space-between;
}

/* Stying for toggle button */
.navb > .toggleButtons > .leftButton {
  background-color: #130c20;
  color: white;
  border: none;
  padding: 10px 12px 10px 12px;
  margin: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

/* Creating hover effect for toggle button */
.navb > .toggleButtons > .leftButton:hover {
  background-color: #4F2683;
  border-radius: 10px;
}

/* Styling for new chat button */
.navb > .toggleButtons > .newButton {
  background-color: #130c20;
  color: white;
  border: none;
  padding: 10px 11px 10px 12px;
  margin: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

/* Creating hover effect for new chat button */
.navb > .toggleButtons > .newButton:hover {
  background-color: #4F2683;
  border-radius: 10px;
}

/* Keyframe animation for sliding in from the left */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* Keyframe animation for sliding in from the right */
@keyframes slideInFromRight {
  from {
    transform: translateX(0%);
    opacity: 0;
  }
  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}

/* Styling for Chatlist container */
.chatList {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Spacing between chat items */
}

/* Styling for individual chat blocks */
.chatItem {
  font-size: 18px;
  padding: 20px;
  border-radius: 15px;
  background-color: #4F2683;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Creating hover effect for selecting chat */
.chatItem:hover {
  background-color: #565759;
}