/* Styling DrYangGPT text bubble */
.textBubbleYang {
    background-color: #3e2769;
    border-radius: 30px;
    padding: 15px;
    margin: 10px 0;
    display: inline-block;
    text-align: left;
    max-width: 75%;
}

/* Styling user text bubble */
.textBubbleUser {
    background-color: #8F55E0;
    border-radius: 30px;
    padding: 15px;
    margin: 10px 0;
    display: inline-block;
    text-align: left;
    max-width: 75%;
}